.main {
    display: grid;
    grid-template-rows: 50% 10% 40%;
}

.item-image {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/660px-No-Image-Placeholder.svg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.user-container {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 5% 15% 30% 40% 10%;
    border-bottom: 1px solid #9db7e3;
    align-items: center;
}

.subject {
    font-weight: bold;
}

.user-id {
    grid-column: 3 / span 1;
    font-size: 13px;
}

.user-kandy {
    justify-self: end;
    font-size: 13px;
}

.user-photo {
    background-image: url("../images/user_photo_sample.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 55%;
    height: 75%;
    grid-column: 2 / span 1;    
}

.detail-container {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-rows: 15% 10% 75%;
    grid-template-columns: 50% 50%;
}

.like-btn {
    padding-right: 1rem;
    justify-self: end;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.subject {
    grid-column: 1 / span 1;
    padding-left: 5px;
    font-size: 13px;
}

.time {
    grid-column: 1 / -1;
    padding-left: 5px;
    font-size: 13px;
}

.details {
    display: grid;
    grid-column: 1 / -1;
    grid-template-rows: 20% 80%;
    grid-template-columns: 50% 50%;
}

.description {
    border: 1px solid #9db7e3;
    border-radius: 5px;
    grid-column: 1 / -1;
    padding: 5px;
    margin: 5px;
    font-size: 13px;
}

.item-type, .age-range {
    padding-left: 3px;
    font-size: 13px;
}

.type, .age{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
