.main {
    display: grid;
    grid-template-rows: 25% 5% 5% 5% 35% 20% 5%;
    align-items: center;
}

.main > div {
    margin: 5px; 
}

input[type="file"]{
    display: none;
}

label{
    width: 100px;
    height: 100px;    
    border-radius: 5px;
    border: 1px solid #9db7e3;
    display: grid;
    grid-template-rows: 50% 50%;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    color: #6c6c6c;
}

#file-chosen {
    font-size: 12px;
    color: #31393c;
    padding: 5px;
}

.innerLabel {
    font-size: 12px;
}

input[type="text"]{
    font-size: 12px;
    padding: 5px;
    border: 1px solid #9db7e3;
    border-radius: 5px;
}

#description {
    font-size: 12px;
    padding: 5px;
    border: 1px solid #9db7e3;
    border-radius: 5px;
}

#ageRange, #newOrUsed {
    font-size: 12px;
    color: #6c6c6c;
    border: 1px solid #9db7e3;
    border-radius: 5px;
    padding: 5px;
}

#subject, #ageRange, #newOrUsed, #description {
    width: 100%;
}

#hashtag {
    width: 30%;
}

#postsubmit {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 35px;
    font-size: 12px;
    background-color: #9db7e3;
    color: #31393c;
    font-weight: 500;
}

.hashtags {
    display: flex;
    width: 30%;
}

#addhashtag {
    width: 30%;
    border: none;
    border-radius: 5px;
    height: 35px;
    font-size: 12px;
    background-color: #9db7e3;
    color: #31393c;
    font-weight: 500;
}

#hashtagsection {
    align-self: start;
}