.top{
    /* background-color: green; */
    width: 100%;
    height: 10%;

    /*temporary border to be deleted later */
    /* border-bottom: 1px solid black; */
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 10%;
    background-image: url("/images/adoptoy_logo_no_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottomnavbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.bottomicons {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #31393c;
    font-size: 10px;
    background-color: #f7e0c1;
    display: grid;
    grid-template-rows: 60% 40%;
}

.material-icons {
    font-size: 24px;
    color: #31393c;
    justify-self: center;
    align-self: end;
}

.bottomtitle {
    margin-top: 4px;
    justify-self: center;
    align-self: start;
}

.bottomicons:hover {
    background-color: #fdca40;
}

.main {
    width: 100vw;
    height: 120vh;
    position: fixed;
    top: 10vh;
    left: 0;
}